rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Form submissions can be created by candidates
    match /formSubmissions/{submissionId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }
    
    // Newsletter subscribers
    match /newsletterSubscribers/{subscriberId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }
  }
}
